@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  overflow: hidden;
;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3f3f3f;
    --foreground: #ededed;
  }
}

input:focus {
  outline: none;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.page-transition {
  animation: fadeIn 1.4s ease-out;
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.appear {
  animation: moveUp 0.5s ease-out;
}
@keyframes moveUp{
  from{
  transform: translateY(50px)
  }
  to {
    transform: translateY(0);
  }
}

.round {
  border-radius: 0;
  border: 0.2px solid;
  border-color: #e3e3e3;
}

.roundsearch {
  border-radius: 0;
}
.chatappear {
  animation: appearUp 0.3s ease-in-out;
}
@keyframes appearUp{
  from{
  opacity: 0.5;
  transform: translateY(50px)
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInSlideRight {
  animation: fadeInSlideRight 0.4s ease-out forwards;
}

.animate-fadeInSlideLeft {
  animation: fadeInSlideLeft 0.4s ease-out forwards;
}